@import "tailwindcss";



/* CINZEL – Headings */
@font-face {
  font-family: "Cinzel";
  src: url("./assets/fonts/Cinzel-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("./assets/fonts/Cinzel-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* LORA – Body */
@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@theme {
  --font-cinzel: "Cinzel", serif;
  --font-lora: "Lora", serif; 
  --font-play: "Playfair", serif; 
  
}

@theme {
  --color-navy:      #102169;
  --color-navy-soft: #EEF0F7;
  --color-gold:      #FFD700;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  width: 100%;
  overflow-x: hidden; 
}

body {
  min-height: 100vh;
  background-color: #102169;
}

::selection {
  background-color: #ffd700;
  color: #000;
}


::-moz-selection {
  background-color: #ffd700;
  color: #000;
}

}


* {
  cursor: none !important;
}


iframe, .standard-cursor {
  cursor: auto !important;
}